body {
  background: #1b3d82;
  font-family: Arial; }

.articulo {
  background: #e9f1f7;
  padding: 20px;
  width: 500px; }
  .articulo .titulo {
    color: #f9a03f; }
  .articulo .autor {
    color: #4d5061; }
  .articulo p a {
    color: #f9a03f; }
  .articulo div {
    text-align: center; }
    .articulo div a {
      color: #f9a03f;
      font-size: 25px;
      text-decoration: none; }
      .articulo div a:hover {
        text-decoration: underline; }
