* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #21295c;
  color: #cf5c36;
  font-family: arial, sans-serif;
}

.contenedor {
  background: #eee5e9;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
}

form p {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

form .btn {
  background: #cf5c36;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
