body {
  /*background-color: #70A4E8;*/
  background-image: url('img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

 /*
  background: url('img/bg.jpg') no-repeat fixed center center;
  background-size: cover;
*/
}
